body{
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}

nav{
    margin-bottom: 10px;
}

svg{
  border: 1px solid black;
  width: 100%;
  height: 400px
}

.toolbar{
  margin-bottom: 10px;
}